###############################################################################
# Ignore the Vite development server configuration file.
###############################################################################
vite.config.js
vite.config.ts

###############################################################################
# Ignore the Vitest test framework configuration file.
###############################################################################
vitest.config.js
vitest.config.ts

###############################################################################
# Ignore the Vitest test source files.
###############################################################################
*.test.js
*.test.jsx
*.test.ts
*.test.tsx
